body {
  background-color: #cfc;
  margin:50px auto;
  max-width:650px;
  line-height:1.2;
  font-family: Palatino, monospace, serif;
  font-size:18px;
  color:#444;
  padding:0 10px
}

h1,h2,h3 {
  font-weight:normal;
  line-height:1.2;
  max-width:650px;
}

canvas {
  display:block;
}
